.login-flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}

.login-row {
    background-color: white;
    width: 100%;
    margin: 10px 10px 10px 10px;
    --bs-gutter-x: 0px;
}

body {
    background-image: url('../../wallp.jpg');
}
.text {
    padding: 30px 30px 30px 30px;
}

.login-section {
    width: 100%;
    background-color: white;
    text-align: center;
}

.login-main {
    width: 60%;
    height: 100%;
}

.login-span {
    margin-right: 0.7em;
}

.login-footer {
    text-align: center;
    background-color: white;

}
.login-column {
    float: left;
    width: 50%;
}


